*{
    box-sizing: border-box;
}
html{
    background-image:
    radial-gradient(50% 30% ellipse at center top, #3d32c0ca 0%, rgba(26, 80, 180, 0.555) 100%),
    radial-gradient(60% 50% ellipse at center bottom, #646262 0%, #000000 100%);
    background-attachment: fixed;
}
body{
    width: 100%;
    margin: auto;
    text-align: center;
}
#container{
    border: 5px solid midnightblue;
    height: 470px;
    width: 22em;
    margin: auto;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    background-color:black;
    clear: both;
}
.btn-group button:hover{
    color: white;
    background-color: grey;
    max-width:100%;
}
.button{
    float: left;
    border: 1px solid whitesmoke;
    background-color: lightseagreen;
    height: 70px;
    text-align: center;
    padding-top: 8px;
    font-family: 'Patrick Hand', cursive;
    font-size: x-large;
    font-weight:bold;
    cursor: pointer;
    border-radius: 5px;
    margin: 1px;
    margin-left: 2px;
}
#zero{
    width: 6.9em;
}
#space{
    border: 3px solid purple;
    height: 100px;
    padding: 50px 0px 5px 5px;
    text-align: left;
    font-family: 'Patrick Hand', cursive;
    font-size: x-large;
    background-color: lightgoldenrodyellow;
    position: static;
    clear: left;
}
.ac{
    float: left;
    border: 1px solid whitesmoke;
    background-color: darkred;
    height: 70px;
    text-align: center;
    padding-top: 8px;
    font-family: 'Patrick Hand', cursive;
    font-size: x-large;
    font-weight:bold;
    cursor: pointer;
    border-radius: 5px;
    margin: 1px;
    margin-left: 2px;
}
.operators{
    float: left;
    border: 1px solid whitesmoke;
    background-color: coral;
    height: 70px;
    text-align: center;
    padding-top: 8px;
    font-family: 'Patrick Hand', cursive;
    font-size: x-large;
    font-weight:bold;
    cursor: pointer;
    border-radius: 5px;
    margin: 1px;
    margin-left: 2px;
}
.equal{
    float: right;
    border: 1px solid whitesmoke;
    background-color: gold;
    height: 143px;
    text-align: center;
    padding-top: 8px;
    font-family: 'Patrick Hand', cursive;
    font-size: x-large;
    font-weight:bold;
    cursor: pointer;
    border-radius: 5px;
    margin: 1px;
    margin-left: 2px;
    margin-right: 2.5px;
}
@media (min-width: 210px){
    .ac{
        width: 6.9em;
    }
    .equal{
        width: 3.46em;
    }
    .operators{
        width: 3.45em;
    }
    .button{
        width: 3.4em;
    }
}