*{
    box-sizing: border-box;
    background-color: rgb(167, 155, 238);
}
#container{
    border: 5px solid midnightblue;
    height: 470px;
    width: 25%;
    margin: auto;
    margin-top: 50px;
    background-color:black;
    clear: both;
}
.btn-group button:hover {
    background-color: grey;
    max-width:100%;
}
.button{
    float: left;
    border: 1px solid whitesmoke;
    background-color: lightseagreen;
    width: 24%;
    height: 70px;
    text-align: center;
    padding-top: 8px;
    font-family: 'Patrick Hand', cursive;
    font-size: x-large;
    font-weight:bold;
    cursor: pointer;
    border-radius: 5px;
    margin: 1px;
    margin-left: 2px;
}
#zero{
    width: 49%;
}
#space{
    border: 3px solid purple;
    height: 100px;
    padding: 50px 0px 5px 5px;
    text-align: left;
    font-family: 'Patrick Hand', cursive;
    font-size: x-large;
    background-color: lightgoldenrodyellow;
    position: static;
    clear: left;
}
.ac{
    float: left;
    border: 1px solid whitesmoke;
    background-color: darkred;
    width: 49%;
    height: 70px;
    text-align: center;
    padding-top: 8px;
    font-family: 'Patrick Hand', cursive;
    font-size: x-large;
    font-weight:bold;
    cursor: pointer;
    border-radius: 5px;
    margin: 1px;
    margin-left: 2px;
}
.operators{
    float: left;
    border: 1px solid whitesmoke;
    background-color: coral;
    width: 24%;
    height: 70px;
    text-align: center;
    padding-top: 8px;
    font-family: 'Patrick Hand', cursive;
    font-size: x-large;
    font-weight:bold;
    cursor: pointer;
    border-radius: 5px;
    margin: 1px;
    margin-left: 2px;
}
#decimal{
    width: 23.9%;
}
.equal{
    float: right;
    border: 1px solid whitesmoke;
    background-color: gold;
    width: 24%;
    height: 143px;
    text-align: center;
    padding-top: 8px;
    font-family: 'Patrick Hand', cursive;
    font-size: x-large;
    font-weight:bold;
    cursor: pointer;
    border-radius: 5px;
    margin: 1px;
    margin-left: 2px;
    margin-right: 2.5px;
}